body {
    background: linear-gradient(to bottom, rgb(0, 221, 255), #0080ff);
    background-color:rgb(0, 221, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

h1 {
    color: blue; 
    text-shadow: -3px 3px 0px rgb(255, 255, 255);

}

legend {
    font-weight: bold;
}